@charset "UTF-8";
body,
html {
  height: 100%;
  scroll-behavior: smooth;
  z-index: 2; }

body {
  font-family: "Roboto", sans-serif;
  background-color: #424242; }

.wraphero {
  position: relative;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: black; }

.hero-image {
  position: absolute;
  background-color: black;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-position: 50% 60%; }

.projectbtn {
  position: absolute;
  top: 42%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 100;
  background-color: rgba(0, 0, 0, 0.6);
  border: 0 solid;
  box-shadow: inset 0 0 20px rgba(255, 255, 255, 0);
  outline: 1px solid;
  outline-color: rgba(255, 255, 255, 0.5);
  outline-offset: 0px;
  text-shadow: none;
  transition: all 1250ms cubic-bezier(0.19, 1, 0.22, 1);
  color: white;
  opacity: 0;
  animation: fade 9s linear forwards; }

@media only screen and (max-width: 900px) {
  .projectbtn {
    border: 1px solid;
    box-shadow: inset 0 0 20px rgba(255, 255, 255, 0.5), 0 0 20px rgba(255, 255, 255, 0.2);
    outline-color: rgba(255, 255, 255, 0);
    outline-offset: 15px;
    text-shadow: 1px 1px 2px #427388;
    color: white; } }

.projectbtn:hover {
  border: 1px solid;
  box-shadow: inset 0 0 20px rgba(255, 255, 255, 0.5), 0 0 20px rgba(255, 255, 255, 0.2);
  outline-color: rgba(255, 255, 255, 0);
  outline-offset: 15px;
  text-shadow: 1px 1px 2px #427388;
  color: white; }

.projectbtn:hover::after {
  content: "▼";
  position: absolute;
  /* opacity: 1; */
  left: 50%;
  transform: translate(-50%);
  animation: conentslide 0.5s linear; }

@keyframes conentslide {
  0% {
    bottom: 0px;
    opacity: 0; }
  100% {
    bottom: -22px;
    opacity: 1; } }

@keyframes fade {
  to {
    opacity: 1; } }

.resumebtn {
  position: relative;
  background-color: rgba(0, 0, 0, 0.6);
  border: 0 solid;
  box-shadow: inset 0 0 20px rgba(255, 255, 255, 0);
  outline: 1px solid;
  outline-color: rgba(255, 255, 255, 0.5);
  outline-offset: 0px;
  text-shadow: none;
  transition: all 1250ms cubic-bezier(0.19, 1, 0.22, 1);
  color: white; }

.resumebtn:hover {
  border: 1px solid;
  box-shadow: inset 0 0 20px rgba(255, 255, 255, 0.5), 0 0 20px rgba(255, 255, 255, 0.2);
  outline-color: rgba(255, 255, 255, 0);
  outline-offset: 15px;
  text-shadow: 1px 1px 2px #427388;
  color: white; }

@media only screen and (max-width: 1075px) {
  #topBtn {
    position: absolute;
    display: none;
    opacity: 0; } }

@media only screen and (min-width: 1076px) {
  #topBtn {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Fixed/sticky position */
    bottom: 20px;
    /* Place the button at the bottom of the page */
    right: 30px;
    /* Place the button 30px from the right */
    z-index: 99;
    /* Make sure it does not overlap */
    border: none;
    /* Remove borders */
    outline: none;
    /* Remove outline */
    background-color: transparent;
    /* Set a background color */
    color: white;
    /* Text color */
    cursor: pointer;
    /* Add a mouse pointer on hover */
    padding: 15px;
    /* Some padding */
    border-radius: 10px;
    /* Rounded corners */
    font-size: 15px;
    /* Increase font size */ }
  #topBtn::before {
    content: "↑";
    position: absolute;
    /* opacity: 1; */
    left: 50%;
    bottom: 35px;
    transform: translate(-50%); }
  #topBtn:hover::before {
    content: "↑";
    position: absolute;
    /* opacity: 1; */
    left: 50%;
    transform: translate(-50%);
    animation: conentslideup 0.5s linear forwards; }
  @keyframes conentslideup {
    0% {
      bottom: 10px;
      opacity: 0; }
    100% {
      bottom: 35px;
      opacity: 1; } } }

.me {
  width: 200px;
  height: auto; }

.glisten {
  font-weight: bold; }

.hide {
  position: relative;
  z-index: 300; }

.name {
  position: relative;
  color: white;
  font-weight: bold; }

.intro {
  position: relative;
  color: white;
  font-weight: bold;
  font-size: 20px; }

p {
  color: white; }

h5 {
  color: white; }

.logo {
  width: 50px; }

.navbar {
  padding: 0;
  margin: 0;
  background-color: #2d2c31;
  opacity: 0.5; }

.row-content {
  padding: 50px 0;
  border-bottom: 1px ridge;
  min-height: 20px; }

.row-content-noborder {
  padding: 50px 0;
  min-height: 20px;
  border-bottom: 1px ridge; }

.row-content-topbord {
  border-top: 1px ridge; }

.flip-card-container {
  width: 400px;
  height: 400px;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  perspective: 1000px;
  left: 600px; }

.flip-card-container:hover .flip-card {
  transform: rotateY(180deg); }

.flip-card {
  position: relative;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  transition: transform 1s;
  transform-style: preserve-3d; }

.flip-card-front,
.flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

.flip-card-front {
  color: white;
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

.flip-card-front:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2); }

.flip-card-back {
  background-color: #4b4b4b;
  color: white;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  transform: rotateY(180deg);
  text-align: center;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2); }

.flip-card-front,
img {
  width: 100%;
  height: 100%; }

.projectreason {
  font-weight: 900;
  color: white;
  background-color: rgba(0, 0, 0, 0.2);
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%); }

.projecttitle {
  font-weight: 900;
  color: white;
  background-color: rgba(0, 0, 0, 0.2);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); }

.flip-card-back a {
  display: block;
  justify-content: center;
  width: 100%;
  height: 100%; }

.myCanvas {
  position: absolute;
  left: 0%; }

.cardbodOp {
  opacity: 0.9;
  height: 100%; }

.rowpop {
  margin-top: 200px; }

.hero-text img {
  height: 200px;
  width: 200px; }

ul {
  list-style-type: none;
  margin-right: 2.4rem; }

li {
  display: inline-block;
  color: black; }

.card-img-top {
  width: 100%;
  height: 100%;
  object-fit: cover; }

.logoskills {
  width: 30px; }

footer {
  background-color: #2d2c31; }

h1 span {
  position: relative;
  top: 20px;
  display: inline-block;
  font-size: 45px;
  color: #fff; }

h1 span:nth-child(0) {
  animation-delay: 0.1s; }

h1 span:nth-child(1) {
  animation-delay: 0.2s; }

h1 span:nth-child(2) {
  animation-delay: 0.3s; }

h1 span:nth-child(3) {
  animation-delay: 0.4s; }

h1 span:nth-child(4) {
  animation-delay: 0.5s; }

h1 span:nth-child(5) {
  animation-delay: 0.6s; }

h1 span:nth-child(6) {
  animation-delay: 0.2s; }

h1 span:nth-child(7) {
  animation-delay: 0.3s; }

h1 span:nth-child(8) {
  animation-delay: 0.4s; }

h1 span:nth-child(9) {
  animation-delay: 0.5s; }

h1 span:nth-child(10) {
  animation-delay: 0.6s; }

h1 span:nth-child(11) {
  animation-delay: 0.7s; }

h1 span:nth-child(12) {
  animation-delay: 0.8s; }

/* ANIMATION */
@keyframes bounce {
  100% {
    top: -20px;
    text-shadow: 0 1px 0 #ccc, 0 2px 0 #ccc, 0 3px 0 #ccc, 0 4px 0 #ccc, 0 5px 0 #ccc, 0 6px 0 #ccc, 0 7px 0 #ccc, 0 8px 0 #ccc, 0 9px 0 #ccc, 0 50px 25px rgba(0, 0, 0, 0.2); } }

#Project {
  color: white; }

@keyframes faderight {
  0% {
    opacity: 0%; }
  100% {
    opacity: 100%; } }

.glisten2 span {
  font-size: 20px;
  animation: faderight 3s linear; }

.glisten span:nth-child(0) {
  animation-delay: 0.1s; }

.glisten span:nth-child(1) {
  animation-delay: 0.2s; }

.glisten span:nth-child(2) {
  animation-delay: 0.3s; }

.glisten span:nth-child(3) {
  animation-delay: 0.4s; }

.glisten span:nth-child(4) {
  animation-delay: 0.5s; }

.glisten span:nth-child(5) {
  animation-delay: 0.6s; }

.glisten span:nth-child(6) {
  animation-delay: 0.7s; }

.glisten span:nth-child(7) {
  animation-delay: 0.8s; }

.glisten span:nth-child(8) {
  animation-delay: 0.9s; }

.glisten span:nth-child(9) {
  animation-delay: 0.1s; }

.glisten span:nth-child(10) {
  animation-delay: 0.11s; }

.glisten span:nth-child(11) {
  animation-delay: 0.12s; }

.glisten span:nth-child(12) {
  animation-delay: 0.13s; }

.dream {
  position: absolute;
  width: 70%;
  height: 40%;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
  animation-delay: 3s;
  animation: Dreamflash 10s linear;
  animation-delay: 3s; }

.dacrostic {
  position: absolute;
  font-size: 8vw;
  position: absolute;
  color: white;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  animation: Dacrosticflash 10s linear;
  animation-delay: 3s; }

.racrostic {
  position: absolute;
  font-size: 8vw;
  position: absolute;
  color: white;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  animation: racrosticflash 10s linear;
  animation-delay: 3s; }

.eacrostic {
  position: absolute;
  font-size: 8vw;
  position: absolute;
  color: white;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  animation: eacrosticflash 10s linear;
  animation-delay: 3s; }

.aacrostic {
  position: absolute;
  font-size: 8vw;
  position: absolute;
  color: white;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  animation: aacrosticflash 10s linear;
  animation-delay: 3s; }

.macrostic {
  position: absolute;
  font-size: 8vw;
  position: absolute;
  color: white;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  animation: macrosticflash 10s linear;
  animation-delay: 3s; }

@keyframes Dreamflash {
  0% {
    opacity: 1; }
  10% {
    opacity: 0; }
  20% {
    opacity: 1; }
  30% {
    opacity: 0; }
  40% {
    opacity: 1; }
  50% {
    opacity: 0; }
  55% {
    opacity: 1; }
  60% {
    opacity: 0; }
  65% {
    opacity: 1; }
  70% {
    opacity: 0; }
  75% {
    opacity: 1; }
  78% {
    opacity: 0; }
  80% {
    opacity: 1; }
  82% {
    opacity: 0; }
  83% {
    opacity: 1; }
  84% {
    opacity: 0; }
  85% {
    opacity: 1; }
  86% {
    opacity: 0; }
  87% {
    opacity: 1; }
  88% {
    opacity: 0; }
  90% {
    opacity: 1; }
  91% {
    opacity: 0; }
  92% {
    opacity: 1; }
  93% {
    opacity: 0; }
  94% {
    opacity: 1; }
  95% {
    opacity: 0; }
  96% {
    opacity: 1; }
  97% {
    opacity: 0; }
  98% {
    opacity: 1; }
  99% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@keyframes Dacrosticflash {
  0% {
    opacity: 0; }
  10% {
    opacity: 1; }
  20% {
    opacity: 0; }
  30% {
    opacity: 0; }
  40% {
    opacity: 0; }
  50% {
    opacity: 0; }
  55% {
    opacity: 0; }
  60% {
    opacity: 0; }
  65% {
    opacity: 0; }
  70% {
    opacity: 0; }
  75% {
    opacity: 0; }
  78% {
    opacity: 1; }
  80% {
    opacity: 0; }
  82% {
    opacity: 0; }
  83% {
    opacity: 0; }
  84% {
    opacity: 0; }
  85% {
    opacity: 0; }
  86% {
    opacity: 0; }
  87% {
    opacity: 0; }
  88% {
    opacity: 0; }
  90% {
    opacity: 0; }
  91% {
    opacity: 1; }
  92% {
    opacity: 0; }
  93% {
    opacity: 0; }
  94% {
    opacity: 0; }
  95% {
    opacity: 0; }
  96% {
    opacity: 0; }
  97% {
    opacity: 0; }
  98% {
    opacity: 0; }
  99% {
    opacity: 0; }
  100% {
    opacity: 0; } }

@keyframes racrosticflash {
  0% {
    opacity: 0; }
  10% {
    opacity: 0; }
  20% {
    opacity: 0; }
  30% {
    opacity: 1; }
  40% {
    opacity: 0; }
  50% {
    opacity: 0; }
  55% {
    opacity: 0; }
  60% {
    opacity: 0; }
  65% {
    opacity: 0; }
  70% {
    opacity: 0; }
  75% {
    opacity: 0; }
  78% {
    opacity: 0; }
  80% {
    opacity: 0; }
  82% {
    opacity: 1; }
  83% {
    opacity: 0; }
  84% {
    opacity: 0; }
  85% {
    opacity: 0; }
  86% {
    opacity: 0; }
  87% {
    opacity: 0; }
  88% {
    opacity: 0; }
  90% {
    opacity: 0; }
  91% {
    opacity: 0; }
  92% {
    opacity: 0; }
  93% {
    opacity: 1; }
  94% {
    opacity: 0; }
  95% {
    opacity: 0; }
  96% {
    opacity: 0; }
  97% {
    opacity: 0; }
  98% {
    opacity: 0; }
  99% {
    opacity: 0; }
  100% {
    opacity: 0; } }

@keyframes eacrosticflash {
  0% {
    opacity: 0; }
  10% {
    opacity: 0; }
  20% {
    opacity: 0; }
  30% {
    opacity: 0; }
  40% {
    opacity: 0; }
  50% {
    opacity: 1; }
  55% {
    opacity: 0; }
  60% {
    opacity: 0; }
  65% {
    opacity: 0; }
  70% {
    opacity: 0; }
  75% {
    opacity: 0; }
  78% {
    opacity: 0; }
  80% {
    opacity: 0; }
  82% {
    opacity: 0; }
  83% {
    opacity: 0; }
  84% {
    opacity: 1; }
  85% {
    opacity: 0; }
  86% {
    opacity: 0; }
  87% {
    opacity: 0; }
  88% {
    opacity: 0; }
  90% {
    opacity: 0; }
  91% {
    opacity: 0; }
  92% {
    opacity: 0; }
  93% {
    opacity: 0; }
  94% {
    opacity: 0; }
  95% {
    opacity: 1; }
  96% {
    opacity: 0; }
  97% {
    opacity: 0; }
  98% {
    opacity: 0; }
  99% {
    opacity: 0; }
  100% {
    opacity: 0; } }

@keyframes aacrosticflash {
  0% {
    opacity: 0; }
  10% {
    opacity: 0; }
  20% {
    opacity: 0; }
  30% {
    opacity: 0; }
  40% {
    opacity: 0; }
  50% {
    opacity: 0; }
  55% {
    opacity: 0; }
  60% {
    opacity: 1; }
  65% {
    opacity: 0; }
  70% {
    opacity: 0; }
  75% {
    opacity: 0; }
  78% {
    opacity: 0; }
  80% {
    opacity: 0; }
  82% {
    opacity: 0; }
  83% {
    opacity: 0; }
  84% {
    opacity: 0; }
  85% {
    opacity: 0; }
  86% {
    opacity: 1; }
  87% {
    opacity: 0; }
  88% {
    opacity: 0; }
  90% {
    opacity: 0; }
  91% {
    opacity: 0; }
  92% {
    opacity: 0; }
  93% {
    opacity: 0; }
  94% {
    opacity: 0; }
  95% {
    opacity: 0; }
  96% {
    opacity: 0; }
  97% {
    opacity: 1; }
  98% {
    opacity: 0; }
  99% {
    opacity: 0; }
  100% {
    opacity: 0; } }

@keyframes macrosticflash {
  0% {
    opacity: 0; }
  10% {
    opacity: 0; }
  20% {
    opacity: 0; }
  30% {
    opacity: 0; }
  40% {
    opacity: 0; }
  50% {
    opacity: 0; }
  55% {
    opacity: 0; }
  60% {
    opacity: 0; }
  65% {
    opacity: 0; }
  70% {
    opacity: 1; }
  75% {
    opacity: 0; }
  78% {
    opacity: 0; }
  80% {
    opacity: 0; }
  82% {
    opacity: 0; }
  83% {
    opacity: 0; }
  84% {
    opacity: 0; }
  85% {
    opacity: 0; }
  86% {
    opacity: 0; }
  87% {
    opacity: 0; }
  88% {
    opacity: 1; }
  90% {
    opacity: 0; }
  91% {
    opacity: 0; }
  92% {
    opacity: 0; }
  93% {
    opacity: 0; }
  94% {
    opacity: 0; }
  95% {
    opacity: 0; }
  96% {
    opacity: 0; }
  97% {
    opacity: 0; }
  98% {
    opacity: 0; }
  99% {
    opacity: 1; }
  100% {
    opacity: 0; } }

.big {
  position: absolute;
  width: 60vw;
  height: 60vh;
  top: 70%;
  left: 50%;
  transform: translate(-50%, -50%); }

g #D {
  stroke: red;
  stroke-width: 4px;
  filter: url(#glow2);
  animation: flicker 2s linear infinite;
  fill: black;
  opacity: 1; }

g #R {
  stroke: orange;
  stroke-width: 4px;
  filter: url(#glow2);
  animation: flicker 2s linear infinite;
  animation-delay: 0.7s;
  fill: black; }

g #E {
  stroke: green;
  stroke-width: 4px;
  filter: url(#glow2);
  animation: flicker 5s linear infinite;
  animation-delay: 1.6s;
  fill: black; }

g #A {
  stroke: blue;
  stroke-width: 4px;
  filter: url(#glow2);
  animation: flicker 2s linear infinite;
  animation-delay: 2.6s;
  fill: black; }

g #M {
  stroke: purple;
  stroke-width: 4px;
  filter: url(#glow2);
  animation: flicker 2s linear infinite;
  animation-delay: 3.5s;
  fill: black; }

@keyframes animate {
  to {
    stroke-dashoffset: 0; } }

g #B {
  stroke: yellow;
  stroke-width: 4px;
  filter: url(#glow);
  animation: flicker 2s linear infinite;
  animation-delay: 13s;
  opacity: 0;
  fill: black; }

g #I {
  stroke: yellow;
  stroke-width: 4px;
  filter: url(#glow);
  animation: flicker 8s linear infinite;
  animation-delay: 13s;
  opacity: 0;
  fill: black; }

g #G {
  stroke: yellow;
  stroke-width: 4px;
  filter: url(#glow);
  animation: flicker 2s linear infinite;
  animation-delay: 13s;
  opacity: 0;
  fill: black; }

@keyframes flicker {
  from {
    opacity: 1; }
  4% {
    opacity: 0.9; }
  6% {
    opacity: 0.85; }
  8% {
    opacity: 0.95; }
  10% {
    opacity: 0.9; }
  11% {
    opacity: 0.922; }
  12% {
    opacity: 0.9; }
  14% {
    opacity: 0.95; }
  16% {
    opacity: 0.3; }
  17% {
    opacity: 0.9; }
  19% {
    opacity: 0.93; }
  20% {
    opacity: 0.99; }
  24% {
    opacity: 1; }
  26% {
    opacity: 0.94; }
  28% {
    opacity: 0.98; }
  37% {
    opacity: 0.93; }
  38% {
    opacity: 0.5; }
  39% {
    opacity: 0.96; }
  42% {
    opacity: 1; }
  44% {
    opacity: 0.97; }
  46% {
    opacity: 0.94; }
  56% {
    opacity: 0.9; }
  58% {
    opacity: 0.9; }
  60% {
    opacity: 0.99; }
  68% {
    opacity: 1; }
  70% {
    opacity: 0.9; }
  72% {
    opacity: 0.95; }
  93% {
    opacity: 0.93; }
  95% {
    opacity: 0.95; }
  97% {
    opacity: 0.93; }
  to {
    opacity: 1; } }
